<h1>Search for a movie in IMDB.... </h1>
<small>In Beta</small>

<p>
  Have Fun over the weekend!!!
</p>

<form action="/results" method="GET">
  <input type="text" placeholder="name/part of it" name="search1">
  <input type="submit">

</form>


<footer>
  <p style="color:green">
    <small>This is a beta version of the Trademark <strong>'okram999'</strong></small>
  </p>
</footer>
